{% extends "military_map/layout.html" %}
{% load static %}
{% block title %}Login - เข้าสุ่ระบบ{% endblock %}
{% block body %}
    <div class="container">
        <h1>คำแนะนำการใช้งาน</h1>
        <p>
            สืบเนื่องจาก Pain point ในการฝึกของทหารราบ ที่หน่วยปฏิบัติ และผู้บังคับหน่วย 
            ไม่อาจทราบที่อยู่ที่แน่ชัดของกำลังพล และหน่วยข้างเคียง สามารถทราบได้โดยการใช้วิทยุเพื่อสื่อสารเป็นหลัก 
            ร.29 พัน.1 เห็นถึงปัญหาในข้อนี้ จึงได้ระดมความคิดกันเพื่อพัฒนา Map Command โดยทางหน่วย 
            ได้รับแรงบันดาลใจจากเกม FPS อย่างเช่น CounterStrike และเกม RTS อย่าง Red Alert 2, Warcraft 3 
            ที่ผู้เล่นสามารถเห็นดำแหน่งของผู้เล่นฝ่ายเดียวกันได้ ทำให้ผู้เล่นสามารถดำเนินกลยุทธ์ที่มีความซับซ้อน 
            ตัดสินใจได้เฉียบคมขึ้น
        </p>
        <p>
            โดย Map Command เป็นนวัตกรรมหน่วย ร.29 พัน.1 ที่มี Feature หลักๆดังนี้
        </p>
        <ul>
            <li>ใช้สัญญานโทรศัพท์มือถือ เพื่อระบุตำแหน่งผู้ใช้งานทุกคนที่อยู่ในแชนแนลเดียวกัน แบบ Real Time</li>
            <li>ผู้ใช้งานสามารถที่จะวางแผนอย่างง่ายบนแผนที่ (การกำหนดแนวขั้น กำหนดพื้นที่ กำหนดจุดเช็คพ้อยต์ กำหนดเส้นทางการเคลื่อนที่) 
                และผู้ใช้คนอื่น ที่อยู่ในแชนแนลเดียวกัน เห็นภาพที่วาดไว้ไปพร้อมๆกัน</li>
        </ul>
    </div>

    <div class="container">
        <h2>Feature ต่างๆของ Web Application มีดังนี้</h2>
        <h3>Login/Register</h3>
        <ul>
            <li>ฟีเจอร์ในการสมัครใข้งาน/ ล็อกอิน (การล็อกอินจะใช้ Username ที่สมัครไว้ ไม่ใช้อีเมล)</li>
        </ul>
        <h3>Basic Navigation</h3>
        <ul>
            <li>โฮมเพจ : หน้า Landing page</li>
            <li>เลือกห้อง : เมื่อคลิกหน้านี้จะเข้าไปในหน้าที่ทำการเลือกห้อง (เลือกแชแนล)</li>
            <li>สร้างห้อง : เมื่อคลิกที่หน้านี้ ผู้ใช้งานจะสามารถสร้างห้องของตัวเองได้</li>
            <li>แก้ไขข้อมูลส่วนตัว : ผู้ใช้งานสามารถแก้ไขชื่อจริง นามสกุล หรือข้อมูลอื่นๆของตนเองได้ 
                ยกเว้น Username กับ Password ที่จะต้องขออนุมัติทาง admin</li>
        </ul>
        <h3>Main Function</h3>
        <ul>
            <li>การสร้างห้อง : ผู้ใช้งานสามารถสร้างห้องและใส่รายละเอียดคร่าวๆลงไปได้ อย่างเช่น ข้อมูลภารกิจ 
                เพื่อให้ผู้ใช้งานท่านอื่นเห็นและเข้าใจคร่าวๆเกี่ยวกับสิ่งที่วางแผน</li>
            <li>การลบห้อง : มีเพียงผู้สร้างห้องเท่านั้น ที่สามารถลบห้องของตนเองได้</li>
            <li>การวางแผน (การวาดภาพ) : มีเพียงผู้ที่สร้างห้องเท่านั้น ที่สามารถวางแผนในห้องของตนเองได้ 
                ผู้ใช้งานท่านอื่นไม่สามารถแก้ไขการวางแผนของเจ้าของห้องได้</li>
            <li>การระบุพิกัดตนเองและผู้ใช้งานท่านอื่น : ผู้ที่อยู่ในห้องเดียวกัน จะสามารถเห็นพิกัดของกันและกันได้</li>
        </ul>
        <p>
            <strong>หมายเหตุ:</strong> พิกัดที่รับส่ง จะมีค่า Error อยู่ที่ 5 - 15 เมตร แล้วแต่ความแรงของสัญญาน Internet
        </p>
    </div>

    <div class="container">
        <h2>ข้อมูลทางเทคนิค</h2>
        <ul>
            <li>Backend เขียนด้วย Django</li>
            <li>Database ในการเก็บภาพที่วาด ใช้ Postgresql และ postgis ในการเก็บข้อมูล</li>
            <li>Database ที่ใช้ในการแสดงผลตำแหน่งพิกัดผู้ใช้ เป็น Redis</li>
            <li>แผนที่ ใช้ Leaflet ซึ่งเป็น Open Sources</li>
            <li>การ Broadcast สัญญาน ใช้ Django channels ซึ่งทำงานร่วมกับ Websocket 
                ช่วยให้ทุกคนเห็นพิกัดตนเองได้แบบ Realtime หรือ Near Real Time</li>
        </ul>
    </div>
    <footer class="text-center">
        <p>&copy; 2024 MapCommand. All rights reserved.</p>
    </footer>
{% endblock %}
